body {
  background-color: rgba(24, 24, 24, 1);
}

header.jumbotron {
    height: 610px;
    background: url("../img/header-bg.jpg") center 0 no-repeat;
    background-size: cover;
    }
@media (max-width: 767px){
  header.jumbotron {
    height: 250px;
    background: url("../img/header-bg.jpg") center 0 no-repeat;
    background-size: cover;
  }
}
.social-buttons-top {
  padding-top: 400px;
}
@media (max-width: 767px){
  .social-buttons-top {
    padding-top: 150px;
  }
}
.social-buttons-top .fa {
  padding: 15px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 10px 2px;
  height: 65px;
  width: 65px;
}
@media (max-width: 767px){
  .social-buttons-top .fa {
    margin: 10px 0px;
    height: 55px;
    width: 55px;
  }
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube-play {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
section {
  padding: 50px 0;
}
